
reactive/.classpath

deliberative/.classpath

*.class

*.class

*.class

reactive/bin/template/ReactiveW.class

*.class

*.snap

*.zip

.metadata/.log

*.xmi
*.index

*.xml

*.xml

*.xmi

*.txt

*.png

*.xml

*.xml

*.xml

*.png

*.snap

*.resources

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.dat


*.resources

*.snap

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.dat

*.xmi

*.snap
